// Responsive

$S: 576px;
$M: 768px;
$L: 992px;
$XL: 1200px;

// Colors

$color-white: #fff;
$color-black: #000;
$color-danger: #ff1717;
$color-warning: #f6a609;
$color-success: #2ac769;

// Fonts

$font-family-base: "Verdana", "Helvetica", "Arial", sans-serif;
$font-weight-regular: 400;
